/* style.css */

/* CSS untuk memuat font secara terpisah */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

/* CSS Reset dan gaya umum */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0f0f0; /* Warna latar belakang */
}

a {
  text-decoration: none; /*menghilangkan dekorasi teks pada link*/
  color: white; /*mengganti warna teks pada link*/
}

.container {
  width: 960px; /*lebar kontainer*/
  max-width: 100%; /* Lebar maksimum sesuai layar */
  margin: auto; /*membuat margin secara horizontal secara otomatis*/
  background-color: #fff;
  padding: 20px; /* Padding di dalam kontainer */
  border-radius: 8px; /* Sudut bulat kontainer */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}

.nama img {
  width: 100%; /*lebar gambar*/
  height: auto; /*tinggi gambar otomatis*/
  display: block; /* Membuat gambar menjadi elemen block */
  border-radius: 8px; /* Sudut bulat gambar */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}

.navigasi {
  height: 50px; /*tinggi navigasi*/
  background-color: #3498db; /*warna navigasi*/
  margin-top: 20px; /* Margin atas */
  border-radius: 8px; /* Sudut bulat navigasi */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}

.navigasi ul {
  list-style-type: none; /* Menghapus bullet pada list */
  padding: 0;
  text-align: center; /* Teks rata tengah */
}

.navigasi ul li {
  display: inline-block; /*menampilkan link secara horizontal*/
  font-size: 16px; /*ukuran font*/
  color: white; /*mengganti warna teks*/
  line-height: 50px; /*mengatur tinggi teks*/
  margin-left: 20px; /*mengatur jarak antara link*/
  margin-right: 20px; /*mengatur jarak antara link*/
}

.navigasi ul li:hover {
  background-color: lightblue; /*mengganti warna background saat link disorot*/
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align: left; /* Teks rata kiri */
  width: 100%; /* Lebar tabel 100% */
  border-collapse: collapse; /* Gabungkan garis batas */
}

.table td,
.table th {
  padding: 10px; /* Padding sel dalam tabel */
  border: 1px solid #dddddd; /* Garis batas */
}

.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Warna latar belakang baris genap */
}

.table tr:hover {
  background-color: #ddd; /* Warna latar belakang saat baris disorot */
}
